// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$header: #00e7ff;
$paragraph: #0891c5;
$border: #0a5688;
$card-bg-color: rgba(0, 44, 69, 0.6);
$space-blue: #7AD2DD;
$electric-blue: #93d7f7;
$blue-btn: #173A5B;

// Additionnal colors

// Nav
// $navbar-bg-color: rgba(13,46,66,0.5);
$navbar-bg-color: rgb(19,25,32);
$nav-title: #2A697C;
$nav: #7E7E7E;
$nav-active: #FFFFFF;
$dark-space: #070D0D;
$bluz: #030B2B;
$blue-title: #00edff;
$yellow-price: #F0E7D3;
$blue-btn: #173A5C;
