@import "home";

// STICKY HEADER
.spaceship-header {
  display: flex;
  align-items: center;

  .edit-delete {
    margin: 0 16px;
  }

  .links {
    font-size: 20px;
  }

  .links:hover {
    text-decoration: none;
    color: #FFF;
  }
}

.spaceship-subhead {
  display: flex;

  h3 {
    font-size: 24px;
  }

  .stars {
    margin: 0 16px;
    padding-top: 4px;
  }
}

// MAIN PICTURE
.main-pic {
  margin: 16px 0;
}

.main-pic-img {
  max-width: 600px;
}
