@import "home";

// STICKY HEADER
.spaceship-sticky-header {
  position: sticky;
  top: 80px;
  z-index: 3;
}

.row-content {
  max-height: calc(100vh - 180px);
  overflow: scroll;
  // for IE and Edge
  -ms-overflow-style: none;
}

// For Chrome, Safari and Opera
.row-content::-webkit-scrollbar {
  display: none;
}

.spaceship-header {
  display: flex;
  align-items: center;

  .edit-delete {
    margin: 0 16px;
  }

  .links {
    font-size: 20px;
  }

  .links:hover {
    text-decoration: none;
    color: #FFF;
  }
}

.spaceship-subhead {
  display: flex;

  h3 {
    font-size: 24px;
  }

  .stars {
    margin: 0 16px;
    padding-top: 4px;
  }

  a:hover {
    text-decoration: none;
  }
}

// MAIN PICTURE
.main-pic {
  margin: 16px 0;
}

.main-pic-img {
  max-width: 600px;
}

// DESCRIPTION
.description p {
  text-align: justify;
}

// MEDIA QUERIES
@media(max-width: 990px) {
  .main-pic-img {
    max-width: 400px;
  }
}

@media(max-width: 768px) {
  .main-pic-img {
    max-width: 300px;
  }
}
