<h1><%= @user.nickname %>'s Dashboard</h1>
<br>
<% unless @user.spaceships.empty? %>
  <h2>My Spaceships</h2>
  <div class="row mb-5"> <!-- justify-content-center mt-4 -->
    <%= render 'shared/spaceship_card' %>
  </div>
<% end %>

<% unless @user.bookings.empty? %>
  <h2>My Bookings</h2>
  <div class="row">
    <%= render 'shared/booking_card' %>
  </div>
<% end %>
