<%= simple_form_for :search, url: spaceships_path, method: :get do |f| %>
  <div class="d-flex justify-content-center">
    <%= f.input_field :query, label: false, placeholder: 'Find your dream spacecraft', class: "pl-2", maxlength: 50 %>
    <%#= f.button :submit, 'ðŸ”'.html_safe, class: "btn btn-primary" %> <!-- <i class="fas fa-search"></i> -->
    <%= button_tag type: 'submit', class: "btn btn-primary" do %>
        <i class="fas fa-rocket"></i>
        <!-- <i class="fas fa-space-shuttle"></i> -->
        <!-- <i class="fab fa-galactic-senate"></i> -->
    <% end %>
  </div>
<% end %>
