a.nav-link {
  color: $space-blue !important;

  &:hover {
    color: #FFF !important;
  }
}

a.btn-link {
  text-decoration: none;
}

// Search bar
i.fa-rocket {
  font-size: 20px;
  padding: 6px 0 4px 0;
  vertical-align: middle;
}

.btn:hover {
  transition: 0s;
}

.btn-primary {
  font-weight: bold;

  &:hover {
    color: $yellow-price;
    text-shadow: 0 0 10px #e2610b, 0 0 14px #e2610b;
  }
}

.btn-danger {
  font-weight: bold;
}
