input.btn {
  border: groove;
}

input.btn:hover {
  border: ridge;
}

a.nav-link {
  color: $space-blue !important;

  &:hover {
    color: #FFF !important;
  }
}

a.btn-link {
  text-decoration: none;
}
