.card {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.7;
}

.card-header {
  background-color: $bluz;
}

.card-body {
  background-color: $dark-space;
}

.booking-form {
  width: 500px;
  position: sticky;
  top: 160px;
}

.review-form {
  width: 850px;
  position: sticky;
  top: 0;
}
