.navbar-lewagon {
  justify-content: space-between;
  color: $space-blue;
  margin-bottom: 12px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

div.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  background-color: $navbar-bg-color;
}

img#navbarDropdown.avatar.dropdown-toggle:hover{
  cursor: pointer
}

.avatar {
  margin-left: 10px
}
