.navbar-lewagon {
  justify-content: space-between;
  color: $space-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

div.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  background-color: $navbar-bg-color;
}
