.card-ship {
  overflow: hidden;
  background: rgba(0, 44, 69, 0.6);
  width: 350px;
  height: 300px;
  border: 1px solid #0a5688;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 36px #0a5688;
    transition: 0.2s;
    transform: scale(1.12);
  }
}

.card-link + .card-link {
  margin-left: 0px;

  &:hover {
    text-decoration: none;
  }
}

.card-ship > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #0a5688;
}

.card-ship h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: #00edff;
}

h2.card-ship-pricing {
  color: $yellow-price;
  text-shadow: 0 0 10px #e2610b, 0 0 14px #e2610b;
  font-size: 1.15em;
}

.card-ship p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: 'Electrolize', sans-serif;
  max-width: 70%;
  overflow-wrap: break-word;
  word-break: break-word;
}

.card-ship .card-ship-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-ship-infos .card-ship-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-ship-infos .card-ship-pricing {
  position: absolute;
  right: 12px;
  top: 50px;
}
