.card-ship {
  overflow: hidden;
  background: rgba(0, 44, 69, 0.6);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  border: 1px solid #0a5688;

  &:hover .mybuttonoverlap {
    display: block;
    margin: 0 auto;
  }
}

.mydivoverlap {
  position: relative;
  z-index: 1;
}

.mybuttonoverlap {
  position: absolute;

  margin: 0 auto;
  display: none;
}

.card-ship > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border: 1px solid #0a5688;
}

.card-ship h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: #00edff;
}

.card-ship p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: 'Electrolize', sans-serif;
}


.card-ship .card-ship-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-ship-infos .card-ship-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
